* {
    user-select: none;
}

body {
    background-image: url("imgs/background.png");
    background-size: 256px;
    image-rendering: pixelated;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menuHeader {
    color: #fff;
    padding: 10px 10px 0px 10px;
    image-rendering: pixelated;
    background-size: 256px;
    height: 32px;
    font-weight: bold;
}

.button, button {
    border: none;
    user-select: none;
    background: #0000003d;
    margin: 10px;
    padding: 5px 10px 7px 10px;
    width: calc(100% - 40px);
    font-weight: bold;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    min-width: 100px;
    transition-duration: 200ms;
}

.button:hover, button:hover {
    background: #48484860;
}

.button:active, button:active {
    background: #C8C8C8a8;
}

a {
    text-decoration: none;
    width: 100%;
}

.panel-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}​

.panel, .panel-menu {
    background: #0000003d;
    background-color: #0000003d;
    color: #ddd;
    transition-duration: 500ms;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}
.hidden > *, .hidden > * > *, .hidden > * > * > * {
    pointer-events: none;
}

input {
    border: none;
    user-select: none;
    outline: none;
    background: #000000;
    background: #0000003d;
    margin: 10px;
    padding: 5px 10px 7px 10px;
    width: calc(100% - 40px);
    color: #ddd;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    min-width: 100px;
    transition-duration: 200ms;
    border: 2px solid #0000;
}

input:hover,
input:focus {
    background: #484848;
    background: #48484860;
}

input:invalid {
    border: 2px solid #ff0000 !important;
}

.panel-menu > p, .panel-menu > form {
    max-width: 190px;
    margin: 10px;
}

a {
    color: #77aeff;
}

a:hover {
    color: #4274fc;
}

a:active {
    color: #3845b9;
}

.error-text {
    color: #e42a2a;
    margin: 10px;
    background: #0000003d;
    padding: 0px 5px 3px 5px;
}

.mini-icon {
    position: relative;
    top: 3px;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }