* {
    user-select: none;
}

body {
    background: #ac8a50 url("imgs/background.png");
    background-size: 256px;
    image-rendering: pixelated;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menuHeader {
    background: #383838;
    text-align: center;
    color: #fff;
    padding: 5px 10px 0px 10px;
    image-rendering: pixelated;
    background-size: 256px;
    height: 28px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #0006 0px 3px 0px;
}

.button, button {
    border: none;
    user-select: none;
    background: #575757;
    margin: 10px;
    padding: 5px 10px 7px 10px;
    width: calc(100% - 40px);
    font-weight: bold;
    color: #ddd;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    min-width: 100px;
    transition-duration: 100ms;
    border-radius: 7px;
    outline: 2px solid #00000017;
}

.button:hover, button:hover {
    background: #8E8E8E;
}

.button:active, button:active {
    background: #464646;
}

a {
    text-decoration: none;
    width: 100%;
}

.panel-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000b 3px 3px 0px;
}​

.panel, .panel-menu {
    background: #464646;
    color: #ddd;
    transition-duration: 500ms;
    border-radius: 7px;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}
.hidden > *, .hidden > * > *, .hidden > * > * > * {
    pointer-events: none;
}

input {
    user-select: none;
    border: none;
    background: #2A2A2A;
    margin: 10px;
    padding: 5px 10px 7px 10px;
    width: calc(100% - 40px);
    color: #ddd;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    min-width: 100px;
    transition-duration: 100ms;
    outline: 2px solid #00000033;
    border-radius: 7px;
}

input:hover,
input:focus {
    background: #3F3F3F;
}

input:invalid {
    outline-color: #e42a2a !important;
}

.panel-menu > p, .panel-menu > form {
    max-width: 190px;
    margin: 10px;
}

a {
    color: #77aeff;
}

a:hover {
    color: #4274fc;
}

a:active {
    color: #3845b9;
}

.error-text {
    color: #e42a2a;
    margin: 10px;
    background: #0000003d;
    padding: 0px 5px 3px 5px;
}

.mini-icon {
    position: relative;
    top: 3px;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }