@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
}

/*#region Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #555555;
}

::-webkit-scrollbar-thumb {
    background: #868686;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #b1cad8;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #79b7ff;
    }

/*#endregion */

/*#region Box icon*/
.box {
    width: 32px;
    height: 32px;
    background: url("imgs/Box2.png") no-repeat;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 140px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

    .box:hover {
        background: url("imgs/Box1.png") no-repeat;
    }
/*#endregion */

/*#region News*/

.New {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    text-align: left;
    background-color: #474747;
    box-shadow: #000000 5px 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.New li {
    list-style: none;
}

.New li:before {
    content: "\2022";
    color: #686868;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.New b {
    color: #b7c3e7;
}

/*#endregion */

/*#region Header*/

header {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 53px;
}

.versionOnHeader {
    font-weight: lighter;
    color: gray;
    position: fixed;
    left: 116px;
    top: 16px;
}

.SimpleButton:hover {
    border-bottom: 3px solid #0b7dda;
}

.SimpleButton:active {
    border-bottom: 3px solid #0a6dbe;
}

.SimpleButton {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    float: left;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.SimpleButtonActive {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    float: left;
    cursor: pointer;
    border-bottom: 3px solid #0b7dda;
}

/*#endregion */

/*#region Sidebar*/

.PcSidebar {
    position: fixed;
    -ms-flex: 30%;
    flex: 30%;
    padding: 20px;
    top: 38px;
    left: 0px;
    width: 270px;
}

    .PcSidebar th {
        box-shadow: #000000 5px 5px;
        background-color: #474747;
        padding: 5px;
    }


    .PcSidebar h4 {
        text-align: left;
        padding-left: 5px;
    }

/*#region Download Button*/

.DownloadButtonOnSidebar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: #1dc08f;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

.DownloadButtonOnSidebar:hover, .DownloadButtonOnSidebarSmall:hover {
    background-color: #39cca0;
    opacity: 1;
}

.DownloadButtonOnSidebar:active, .DownloadButtonOnSidebarSmall:active {
    background-color: #92ecd1;
    opacity: 1;
}

.DownloadButtonOnSidebarSmall {
    width: 95%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 3px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 15px;
    text-decoration: none;
    background-color: #1dc08f;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

/*#endregion */

/*#endregion */

/*#region Main*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #555555;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    overflow: hidden;
    color: #bebebe;
}

.PcMain {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 70%;
    flex: 70%;
    padding-left: 270px;
    padding-top: 32px;
    padding-right: 15px;
    max-height: 70vw;
    overflow: auto;
    margin-top: 25px;
}

/*#endregion */
