@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*#region Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #c4985e;
}

::-webkit-scrollbar-thumb {
    background: #dbb480;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #e7d1b3;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #f7f0e6;
    }

/*#endregion */
/*#region Box icon*/
.box {
    width: 32px;
    height: 32px;
    background: url("imgs/Box2.png") no-repeat;
    margin-top: 9px;
    margin-left: 10px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

    .box:hover {
        background: url("imgs/Box1.png") no-repeat;
    }
/*#endregion */
/*#region Treeview*/
ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .caret::before {
        content: url("https://win98icons.alexmeub.com/icons/png/directory_closed-1.png");
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

.caret-down::before {
    content: url("imgs/openedfolder.png");
}

.nested {
    display: none;
}

    .nested img {
        width: 16px;
        height: 16px;
    }

.active {
    display: block;
}

/*#endregion */

.Emailbutton {
    background-color: #dd4b39;
    color: white;
}

.Discordbutton {
    background-color: #1d69c0;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #c4985e;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

* {
    box-sizing: border-box;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #3d2e1a;
    font-size: 15px;
    bottom: 0;
    position: fixed;
}

.alpha {
    font-weight: bold;
    color: red;
    text-decoration: solid;
    text-transform: uppercase;
}

.beta {
    font-weight: bold;
    color: rgb(255, 123, 0);
    text-decoration: solid;
    text-transform: uppercase;
}

header {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.History a {
    color: black;
}

    .History a:hover {
        color: rgb(82, 82, 82);
    }

    .History a:active {
        color: rgb(139, 139, 139);
    }

.SocialButton {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

    .SocialButton:hover {
        opacity: 1;
    }

    .SocialButton:active {
        opacity: 0.9;
    }

.versionOnHeader {
    font-weight: lighter;
    color: gray;
    position: fixed;
    left: 116px;
    top: 16px;
}

/*#region News*/

.Newsection {
    overflow: auto;
    height: 15vw;
}

.New {
    border: solid 2px;
    border-left: 0;
    border-top-color: #b99360;
    border-right: 0;
    border-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    text-align: left;
}

.New li {
    list-style: disc;
}

.newcontent {
    font-weight: bold;
    color: rgb(47, 201, 98);
    text-decoration: solid;
    text-transform: uppercase;
}

/*#endregion */

/*#region PC*/

/*#region Dropdown*/
.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    width: 148px;
    height: 210px;
    top: 50px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }

        .dropdown-content a:hover {
            background-color: #ddd
        }

        .dropdown-content a:active {
            background-color: rgb(184, 184, 184)
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.DownloadButton:hover,
.dropdown:hover .DownloadButton {
    background-color: #0b7dda;
}

.DownloadButton:active,
.DownloadButton {
    background-color: #0a6dbe;
}

.DownloadButton {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
}

/*#endregion */

header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

    header a.right {
        float: right;
    }

    header a:hover {
        background-color: #ddd;
        color: black;
    }


.PcSidebar {
    position: fixed;
    -ms-flex: 30%;
    flex: 30%;
    padding: 20px;
    top: 50px;
    left: 0px;
    width: 21%;
    min-width: 180px;
}

    .PcSidebar th {
        box-shadow: #7c5c33 5px 5px;
        background-color: #f0cea1;
        padding: 5px;
    }

/*#region Main*/
.PcMain {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 70%;
    flex: 70%;
    padding-left: 20vw;
    padding-top: 32px;
    padding-right: 15px;
    max-height: 70vw;
    overflow: auto;
}

.PcMainImg {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: #7c5c33 5px 5px;
}

.PcMain form {
    background-color: #f0cea1;
    box-shadow: #7c5c33 5px 5px;
    padding: 5px;
    margin-bottom: 15px;
}

/*#endregion */

/*#endregion */

/*#region Mobile*/

.NodownloadButton {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    float: right;
    font-weight: bold;
}

.MobilMain {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 70%;
    flex: 70%;
    padding: 10px;
    padding-top: 46px;
    overflow: auto;
}

    .MobilMain form {
        background-color: #f0cea1;
        box-shadow: #7c5c33 5px 5px;
        padding: 5px;
        margin-bottom: 15px;
        width: 100%;
    }

@media screen and (max-width: 700px) {
}

/*#endregion */
